<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="financialInstitution">
            <h2><span jhiTranslate="jhlabGatewayApp.fidataServiceFinancialInstitution.detail.title">Financial Institution</span> {{ financialInstitution.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhlabGatewayApp.fidataServiceFinancialInstitution.name">Name</span></dt>
                <dd>
                    <span>{{ financialInstitution.name }}</span>
                </dd>
                <dt><span jhiTranslate="jhlabGatewayApp.fidataServiceFinancialInstitution.description">Description</span></dt>
                <dd>
                    <span>{{ financialInstitution.description }}</span>
                </dd>
                <dt><span jhiTranslate="jhlabGatewayApp.fidataServiceFinancialInstitution.address">Address</span></dt>
                <dd>
                    <span>{{ financialInstitution.address }}</span>
                </dd>
                <dt><span jhiTranslate="jhlabGatewayApp.fidataServiceFinancialInstitution.address2">Address 2</span></dt>
                <dd>
                    <span>{{ financialInstitution.address2 }}</span>
                </dd>
                <dt><span jhiTranslate="jhlabGatewayApp.fidataServiceFinancialInstitution.city">City</span></dt>
                <dd>
                    <span>{{ financialInstitution.city }}</span>
                </dd>
                <dt><span jhiTranslate="jhlabGatewayApp.fidataServiceFinancialInstitution.state">State</span></dt>
                <dd>
                    <span>{{ financialInstitution.state }}</span>
                </dd>
                <dt><span jhiTranslate="jhlabGatewayApp.fidataServiceFinancialInstitution.postalCode">Postal Code</span></dt>
                <dd>
                    <span>{{ financialInstitution.postalCode }}</span>
                </dd>
                <dt><span jhiTranslate="jhlabGatewayApp.fidataServiceFinancialInstitution.country">Country</span></dt>
                <dd>
                    <div *ngIf="financialInstitution.country">
                        <a [routerLink]="['/country', financialInstitution.country?.id, 'view']">{{ financialInstitution.country?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/financial-institution', financialInstitution.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
