<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhlabGatewayApp.fidataServiceFinancialInstitution.home.title">Financial Institutions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-financial-institution" [routerLink]="['/financial-institution/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhlabGatewayApp.fidataServiceFinancialInstitution.home.createLabel">
            Create a new Financial Institution
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="financialInstitutions?.length === 0">
        <span jhiTranslate="jhlabGatewayApp.fidataServiceFinancialInstitution.home.notFound">No financialInstitutions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="financialInstitutions && financialInstitutions.length > 0">
        <table class="table table-sm table-striped" aria-describedby="page-heading">
            <thead>
                <tr class="table-dark" jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="jhlabGatewayApp.fidataServiceFinancialInstitution.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col" colspan="2" jhiSortBy="country.name"><span jhiTranslate="jhlabGatewayApp.fidataServiceFinancialInstitution.country">Country</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let financialInstitution of financialInstitutions ;trackBy: trackId">
                    <td><a [routerLink]="['/financial-institution', financialInstitution.id, 'view']">{{ financialInstitution.id }}</a></td>
                    <td>{{ financialInstitution.name }}</td>
                    <td>
                        <div *ngIf="financialInstitution.country">
                            <img *ngIf="financialInstitution.country.flag" src="{{'../content/images/flags/' + financialInstitution.country.flag }}" width="30">
                        </div>                        
                    </td>    
                    <td>
                        <div *ngIf="financialInstitution.country">
                            <a [routerLink]="['/country', financialInstitution.country?.id, 'view']" >{{ financialInstitution.country?.name }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/financial-institution', financialInstitution.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit"
                                    [routerLink]="['/financial-institution', financialInstitution.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(financialInstitution)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="financialInstitutions && financialInstitutions.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
