<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhlabGatewayApp.fidataServiceBicCode.home.title">Bic Codes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-bic-code" [routerLink]="['/bic-code/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhlabGatewayApp.fidataServiceBicCode.home.createLabel">
            Create a new Bic Code
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="bicCodes?.length === 0">
        <span jhiTranslate="jhlabGatewayApp.fidataServiceBicCode.home.notFound">No bicCodes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="bicCodes && bicCodes.length > 0">
        <table class="table table-sm table-striped" aria-describedby="page-heading">
            <thead>
                <tr class="table-dark" jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="financialInstitution.name"><span jhiTranslate="jhlabGatewayApp.fidataServiceBicCode.financialInstitution">Financial Institution</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="swiftCode"><span jhiTranslate="jhlabGatewayApp.fidataServiceBicCode.swiftCode">Swift Code</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="city"><span jhiTranslate="jhlabGatewayApp.fidataServiceBicCode.city">City</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="branch"><span jhiTranslate="jhlabGatewayApp.fidataServiceBicCode.branch">Branch</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="country.name"><span jhiTranslate="jhlabGatewayApp.fidataServiceBicCode.country">Country</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bicCode of bicCodes ;trackBy: trackId">
                    <td><a [routerLink]="['/bic-code', bicCode.id, 'view']">{{ bicCode.id }}</a></td>
                    <td>
                        <div *ngIf="bicCode.financialInstitution">
                            <a [routerLink]="['/financial-institution', bicCode.financialInstitution?.id, 'view']" >{{ bicCode.financialInstitution?.name }}</a>
                        </div>
                    </td>
                    <td>{{ bicCode.swiftCode }}</td>
                    <td>{{ bicCode.city }}</td>
                    <td>{{ bicCode.branch }}</td>
                    <td>
                        <div *ngIf="bicCode.country">
                            <a [routerLink]="['/country', bicCode.country?.id, 'view']" >
                                <img *ngIf="bicCode.country.flag" src="{{'../content/images/flags/' + bicCode.country.flag }}" width="30">
                            </a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/bic-code', bicCode.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/bic-code', bicCode.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(bicCode)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="bicCodes && bicCodes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
