<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-bic-code-heading" jhiTranslate="jhlabGatewayApp.fidataServiceBicCode.home.createOrEditLabel">Create or edit a Bic Code</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhlabGatewayApp.fidataServiceBicCode.swiftCode" for="field_swiftCode">Swift Code</label>
                    <input type="text" class="form-control" name="swiftCode" id="field_swiftCode"
                           formControlName="swiftCode"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhlabGatewayApp.fidataServiceBicCode.city" for="field_city">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                           formControlName="city"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhlabGatewayApp.fidataServiceBicCode.branch" for="field_branch">Branch</label>
                    <input type="text" class="form-control" name="branch" id="field_branch"
                           formControlName="branch"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhlabGatewayApp.fidataServiceBicCode.address" for="field_address">Address</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                           formControlName="address"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhlabGatewayApp.fidataServiceBicCode.postalCode" for="field_postalCode">Postal Code</label>
                    <input type="text" class="form-control" name="postalCode" id="field_postalCode"
                           formControlName="postalCode"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhlabGatewayApp.fidataServiceBicCode.bicLat" for="field_bicLat">Bic Lat</label>
                    <input type="number" class="form-control" name="bicLat" id="field_bicLat"
                           formControlName="bicLat"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhlabGatewayApp.fidataServiceBicCode.bicLng" for="field_bicLng">Bic Lng</label>
                    <input type="number" class="form-control" name="bicLng" id="field_bicLng"
                           formControlName="bicLng"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhlabGatewayApp.fidataServiceBicCode.country" for="field_country">Country</label>
                    <select class="form-control" id="field_country" name="country" formControlName="country">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="countryOption.id === editForm.get('country')!.value?.id ? editForm.get('country')!.value : countryOption" *ngFor="let countryOption of countries; trackBy: trackById">{{ countryOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhlabGatewayApp.fidataServiceBicCode.financialInstitution" for="field_financialInstitution">Financial Institution</label>
                    <select class="form-control" id="field_financialInstitution" name="financialInstitution" formControlName="financialInstitution">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="financialInstitutionOption.id === editForm.get('financialInstitution')!.value?.id ? editForm.get('financialInstitution')!.value : financialInstitutionOption" *ngFor="let financialInstitutionOption of financialinstitutions; trackBy: trackById">{{ financialInstitutionOption.name }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
