<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bicCode">
            <h2><span jhiTranslate="jhlabGatewayApp.fidataServiceBicCode.detail.title">Bic Code</span> {{ bicCode.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhlabGatewayApp.fidataServiceBicCode.swiftCode">Swift Code</span></dt>
                <dd>
                    <span>{{ bicCode.swiftCode }}</span>
                </dd>
                <dt><span jhiTranslate="jhlabGatewayApp.fidataServiceBicCode.city">City</span></dt>
                <dd>
                    <span>{{ bicCode.city }}</span>
                </dd>
                <dt><span jhiTranslate="jhlabGatewayApp.fidataServiceBicCode.branch">Branch</span></dt>
                <dd>
                    <span>{{ bicCode.branch }}</span>
                </dd>
                <dt><span jhiTranslate="jhlabGatewayApp.fidataServiceBicCode.address">Address</span></dt>
                <dd>
                    <span>{{ bicCode.address }}</span>
                </dd>
                <dt><span jhiTranslate="jhlabGatewayApp.fidataServiceBicCode.postalCode">Postal Code</span></dt>
                <dd>
                    <span>{{ bicCode.postalCode }}</span>
                </dd>
                <dt><span jhiTranslate="jhlabGatewayApp.fidataServiceBicCode.bicLat">Bic Lat</span></dt>
                <dd>
                    <span>{{ bicCode.bicLat }}</span>
                </dd>
                <dt><span jhiTranslate="jhlabGatewayApp.fidataServiceBicCode.bicLng">Bic Lng</span></dt>
                <dd>
                    <span>{{ bicCode.bicLng }}</span>
                </dd>
                <dt><span jhiTranslate="jhlabGatewayApp.fidataServiceBicCode.country">Country</span></dt>
                <dd>
                    <div *ngIf="bicCode.country">
                        <a [routerLink]="['/country', bicCode.country?.id, 'view']">{{ bicCode.country?.name }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhlabGatewayApp.fidataServiceBicCode.financialInstitution">Financial Institution</span></dt>
                <dd>
                    <div *ngIf="bicCode.financialInstitution">
                        <a [routerLink]="['/financial-institution', bicCode.financialInstitution?.id, 'view']">{{ bicCode.financialInstitution?.name }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bic-code', bicCode.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
