<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="currency">
            <h2><span jhiTranslate="jhlabGatewayApp.geodataServiceCurrency.detail.title">Currency</span> {{ currency.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhlabGatewayApp.geodataServiceCurrency.name">Name</span></dt>
                <dd>
                    <span>{{ currency.name }}</span>
                </dd>
                <dt><span jhiTranslate="jhlabGatewayApp.geodataServiceCurrency.code">Code</span></dt>
                <dd>
                    <span>{{ currency.code }}</span>
                </dd>
                <dt><span jhiTranslate="jhlabGatewayApp.geodataServiceCurrency.numCode">Num Code</span></dt>
                <dd>
                    <span>{{ currency.numCode }}</span>
                </dd>
                <dt><span jhiTranslate="jhlabGatewayApp.geodataServiceCurrency.preferred">Preferred</span></dt>
                <dd>
                    <span>{{ currency.preferred }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/currency', currency.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
