<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="country">
            <h2><span jhiTranslate="jhlabGatewayApp.geodataServiceCountry.detail.title">Country</span> {{ country.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>
            <div class="row">
                <div class="col-5">
                    <dl class="row-md jh-entity-details">
                        <dt><span jhiTranslate="jhlabGatewayApp.geodataServiceCountry.name">Name</span></dt>
                        <dd>
                            <span>{{ country.name }}</span>
                        </dd>
                        <dt><span jhiTranslate="jhlabGatewayApp.geodataServiceCountry.code">Code</span></dt>
                        <dd>
                            <span>{{ country.code }}</span>
                        </dd>
                        <dt><span jhiTranslate="jhlabGatewayApp.geodataServiceCountry.codeA2">Code A 2</span></dt>
                        <dd>
                            <span>{{ country.codeA2 }}</span>
                        </dd>
                        <dt><span jhiTranslate="jhlabGatewayApp.geodataServiceCountry.codeA3">Code A 3</span></dt>
                        <dd>
                            <span>{{ country.codeA3 }}</span>
                        </dd>
                        <dt><span jhiTranslate="jhlabGatewayApp.geodataServiceCountry.flag">Flag</span></dt>
                        <dd>
                            <span>{{ country.flag }}</span>
                        </dd>
                        <dt><span jhiTranslate="jhlabGatewayApp.geodataServiceCountry.active">Active</span></dt>
                        <dd>
                            <span>{{ country.active }}</span>
                        </dd>
                    </dl>
                </div>
                <div class="col-3 d-flex align-items-baseline">
                    <img *ngIf="country.flag" src="{{'../content/images/flags/' + country.flag }}">
                </div>
            </div>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/country', country.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
